@font-face {
	font-family: font_title;
	src: url(fonts/title3.ttf);
}

@font-face {
	font-family: font_text;
	src: url(fonts/Lato-Regular.ttf);
}

body {
	text-rendering: optimizeLegibility;
}

.title {
	font-family: font_title !important;
}

.text {
	font-family: font_text !important;
}

header {
	background-image: url(img/1.jpg);
	background-size: cover;
	padding-top: 5% !important;
}

header .centerkol {
	margin-top: 5.5% !important;
}

header h1 {
	font-size: 140px !important;
	color: #FFF !important;
	font-weight: bolder;
	text-shadow: 1px 1px 1px #464646;
	margin-bottom: 20px !important;
}

header .forminput {
	font-size: 25px !important;
}

header .groupinputs{
	width: 50% !important;
	float: none;
	margin: 0 auto;
}