@font-face {
	font-family: font_title;
	src: url(fonts/title.ttf);
}

@font-face {
	font-family: font_text;
	src: url(fonts/Lato-Regular.ttf);
}

body {
	text-rendering: optimizeLegibility;
}

.title {
	font-family: font_title !important;
}

.text {
	font-family: font_text !important;
}

header{
	background-image: url(img/6.jpg);
	padding-top: 6% !important;
}


header h1{
	font-size: 200px !important;
	color: #000;
}

header .kol-75{
	border: 12px solid #000;
	padding: 40px !important;
	background-color: #FFF;
}
