@font-face {
	font-family: font_title;
	src: url(fonts/title3.ttf);
}

@font-face {
	font-family: font_text;
	src: url(fonts/Lato-Regular.ttf);
}

body {
	text-rendering: optimizeLegibility;
	background-color: #FCFCFC;
}

.title {
	font-family: font_title !important;
}

.text {
	font-family: font_text !important;
}

header img{
	border: 10px solid #000;
	width: 80%;
	margin-top: 25%;
}

#text1{
	
}

#text1 b{
	display: block;
	text-align: center;
	font-size: 70px !important;
	margin-top: 35%;
	line-height: 140px;
	padding: 5px !important;
	color: #000;
}
