@charset "utf-8";

/*
Robyt Framework
Author: Hector Arce de las Heras
Web: hectorarce.16mb.com
*/

*,
:before,
:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #333;
	background-color: #fff;
}

a {
	text-decoration: none;
	color: initial;
}


/*******************************************HEADERS/TEXT*******************************************/

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	margin-top: 20px;
	margin-bottom: 10px;
	display: block;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 15px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	font-family: inherit;
	font-weight: 400;
	line-height: 1;
	color: #777;
	display: block;
	font-size: 85%;
}

i {
	font-style: italic !important;
}


/************************************************CARDS*********************************************/

.cardbassic {
	border: none;
	box-shadow: 1px 1px 1px 1px #ccc;
	padding: 15px !important;
}

.cardbassic img {
	width: 100%;
}

.img-cardbassic::after {
	content: " ";
	border: solid 1px #333333;
	display: block;
	width: 70%;
	margin: 20px auto;
}

.cardbassic .butn {
	margin-top: 10px !important;
}

.cardcircle {
	border: none;
	box-shadow: 1px 1px 1px 1px #ccc;
	padding: 40px !important;
}

.img-cardcircle {
	text-align: center;
	margin-bottom: 20px;
}

.img-cardcircle img {
	width: 10em;
	border-radius: 200px;
	height: 10em;
	z-index: 999999;
	position: relative;
}

.img-cardcircle::before {
	content: " ";
	border: solid 1.5px #333333;
	display: block;
	width: 90%;
	position: relative;
	top: 70px;
	margin: 0 auto;
	z-index: 1;
}

.multicard {
	border: none;
	box-shadow: 1px 1px 1px 1px #ccc;
	padding: 0px !important;
	background-color: #F0F0F0;
}

.multicard .backmulticard {
	background-image: url(1.jpg);
	background-size: cover;
	padding: 20px;
	padding-top: 34px;
	min-height: 100px;
	color: #FFF;
	height: 40px;
}

.multicard .backmulticard>b {
	font-size: 26px;
	text-shadow: 1px 1px 1px #000;
}

.multicard .cardbassic{
	border: none;
	background: #FFF;
}

.multicard .img-cardcircle{
	border: none;
	background: #FFF;
}


/*******************************************CLASSES KOL-*******************************************/

.kolbig {
	margin: 0 auto;
	padding: 0;
}

.kolbig:after {
	content: "";
	display: table;
	clear: both;
}

[class*='kol-'] {
	float: left;
	padding: .3em;
	/*max-width: 1020px;*/
	margin-top: .3em;
}

.kol-1 {
	width: 100%;
}

.kol-90 {
	width: 90%;
}

.kol-80 {
	width: 80%;
}

.kol-75 {
	width: 75%;
}

.kol-66 {
	width: calc(100%/3*2);
}

.kol-60 {
	width: 60%;
}

.kol-2 {
	width: 50%;
}

.kol-40 {
	width: 40%;
}

.kol-3 {
	width: calc(100%/3*1);
}

.kol-4 {
	width: 25%;
}

.kol-5 {
	width: 20%;
}

.kol-6 {
	width: calc(100%/6*1);
}

.kol-7 {
	width: calc(100%/7*1);
}

.kol-8 {
	width: 12.5%;
}

.kol-9 {
	width: calc(100%/9*1);
}

.kol-10 {
	width: 10%;
}

.kol-11 {
	width: calc(100%/11*1);
}

.kol-12 {
	width: calc(100%/12*1);
}

.centerkol {
	float: none !important;
	margin: .3em auto !important;
}


/*******************************************CLASSES MOVE-*******************************************/

.move-90 {
	margin-left: 90%;
}

.move-80 {
	margin-left: 80%;
}

.move-75 {
	margin-left: 75%;
}

.move-66 {
	margin-left: calc(100%/3*2);
}

.move-60 {
	margin-left: 60%;
}

.move-50 {
	margin-left: 50%;
}

.move-40 {
	margin-left: 40%;
}

.move-30 {
	margin-left: calc(100%/3*1);
}

.move-25 {
	margin-left: 25%;
}

.move-20 {
	margin-left: 20%;
}

.move-16 {
	margin-left: calc(100%/6*1);
}

.move-14 {
	margin-left: calc(100%/7*1);
}

.move-12 {
	margin-left: 12.5%;
}

.move-11 {
	margin-left: 11%;
}

.move-10 {
	margin-left: 10%;
}

.move-9 {
	margin-left: calc(100%/11*1);
}

.move-8 {
	margin-left: calc(100%/12*1);
}


/************************************************kOLTORIGHT******************************************************/

.koltoright {
	float: right !important;
}


/*******************************************system grid flex Beta-*******************************************/

.kolflex {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
}


/*Hacia donde se comprimen los elementos dentro del contenedor*/

.flexdir-ltr {
	/*de izquierda a derecha*/
	flex-direction: row;
	-ms-flex-direction: row;
}

.flexdir-rtl {
	/*de derecha a izquierda*/
	flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
}

.flexdir-ttb {
	/*de arriba abajo*/
	flex-direction: column;
	-ms-flex-direction: column;
}

.flexdir-btt {
	/*de abajo arriba*/
	flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
}


/*Cambiar si todos se quedan en la misma linea o en diferentes*/

.flex-one {
	/*solo una linea*/
	flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
}

.flex-multi-ltr {
	/*multi linea izquierda a derecha*/
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}

.flex-multi-rtl {
	/*multi linea derecha a izquierda*/
	flex-wrap: wrap-reverse;
	-ms-flex-wrap: wrap-reverse;
}


/*Ayuda a distribuir el espacio entre los contenidos*/

.flex-start {
	justify-content: flex-start;
	-ms-flex-pack: start;
}

.flex-end {
	justify-content: flex-end;
	-ms-flex-pack: end;
}

.flex-center {
	justify-content: center;
	-ms-flex-pack: center;
}

.flex-btw {
	justify-content: space-between;
	-ms-flex-pack: justify;
}

.flex-around {
	justify-content: space-around;
	-ms-flex-pack: distribute;
}


/*Alinea el contenido de los elementos dentro del contenedor sobre un eje*/

.flex-alg-start {
	/*arriba*/
	align-items: flex-start;
	-ms-flex-align: start;
}

.flex-alg-end {
	/*abajo*/
	align-items: flex-end;
	-ms-align-items: end;
}

.flex-alg-center {
	/*en el centro*/
	align-items: center;
	-ms-align-items: center;
}

.flex-alg-stretch {
	/*todo*/
	align-items: stretch;
	-ms-align-items: stretch;
}

.flex-alg-base {
	/*con el texto*/
	align-items: baseline;
	-ms-align-items: baseline;
}


/*Alinea el contenido en general*/

.flex-cont-start {
	align-content: flex-start;
	-ms-flex-line-pack: start;
}

.flex-cont-end {
	align-content: flex-end;
	-ms-flex-line-pack: end;
}

.flex-cont-center {
	align-content: center;
	-ms-flex-line-pack: center;
}

.flex-cont-btw {
	align-content: space-between;
	-ms-flex-line-pack: justify;
}

.flex-cont-around {
	align-content: space-around;
	-ms-flex-line-pack: distribute;
}

.flex-cont-stretch {
	align-content: stretch;
	-ms-flex-line-pack: stretch;
}


/****************************************PADDING GENERAL***************************************/

.padding {
	padding: 12px;
}

.padding-left {
	padding-left: 12px;
}

.padding-top {
	padding-top: 12px;
}

.padding-bottom {
	padding-bottom: 12px;
}

.padding-right {
	padding-right: 12px;
}


/*********************************************BUTTONS*****************************************************/

.butn {
	padding: 0.8em;
	font-size: 16px;
	padding-right: 1em;
	padding-left: 1em;
	cursor: pointer;
}

.butn-circle {
	border-radius: 100%;
	height: 90px;
	width: 90px;
	padding-top: 24px;
	text-align: center;
	font-size: 30px;
}

.butn-classic {
	border: 1px solid #ccc;
	color: #000;
	background: #FFF;
}

.butn-classic:hover {
	background: #EFEFEF;
}

.butn-red {
	background-color: #FF4343;
	color: #FFF;
}

.butn-red:hover {
	background-color: #F75151;
}

.butn-green {
	background-color: #81E081;
	color: #FFF;
}

.butn-green:hover {
	background-color: #57D857;
}

.butn-blue {
	background-color: #64C5ED;
	color: #FFF;
}

.butn-blue:hover {
	background-color: #45C0F3;
}

.butn-orange {
	background-color: #FFC429;
	color: #FFF;
}

.butn-orange:hover {
	background-color: #FFB902;
}

.butn-large {
	padding-left: 2.2em;
	padding-right: 2.2em;
}

.butn-small {
	padding-left: .8em;
	padding-right: .8em;
	padding: 1em;
	font-size: 14px;
}


/***********************************************INPUTS|FORMS********************************************/

.forminput {
	padding: 12px;
	font-size: 18px;
	width: 100%;
	padding-left: 15px;
	color: #7C7C7C;
	outline: 0px;
	border-radius: 1px;
	border: 1px solid #BBB;
}

.groupinputs {
	position: relative;
	display: table;
	border-collapse: separate;
	width: 100%;
}

.groupinputs-add {
	padding: 6px 3px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
}

.groupinputs .forminput {
	display: table-cell;
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
}

.groupinputs .forminput:not(:first-child):not(:last-child) {
	border-radius: 0;
}

.groupinputs-add:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.groupinputs-add:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.formbasic {
	padding: 20px;
}

.formbasic p {
	font-size: 16px;
	margin-bottom: 10px;
}

.formbasic .forminput {
	margin-bottom: 20px;
}

.formbasic .butn {
	width: 100%;
	border: none;
}

.formlines {
	padding: 0px;
}

.formlines .forminput {
	border-top: none;
	border-right: none;
	border-left: none;
	margin-bottom: 25px;
}

.formlines .butn {
	width: 100%;
	border: none;
}

.formlines-label {
	padding: 0px;
}

.formlines-label .forminput {
	border-top: none;
	border-right: none;
	border-left: none;
}

.formlines-label .groupinputs {
	margin-bottom: 25px;
}

.formlines-label .groupinputs-add {
	background-color: #fff;
	border-right: none;
	border-left: none;
	border-top: none;
	min-width: 60px;
	max-width: 60px;
	text-align: left;
}

.formlines-label .butn {
	width: 100%;
	border: none;
}

.formbox {
	padding: 20px;
}

.formbox .forminput {
	padding: 15px;
}

.formbox .forminput:first-child {
	border-bottom: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.formbox .forminput:not(:first-child):not(:last-child) {
	border-radius: 0px;
}

.formbox .forminput:last-child {
	border-top: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.formbox .butn {
	width: 100%;
	border: none;
}

form label {
	display: block;
	/* padding-left: 15px; */
	/* text-indent: -15px; */
	text-align: left;
	cursor: pointer;
	padding: .2em .6em .3em;
	font-weight: 400;
	line-height: 1;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 4px;
}

[type=checkbox] {
	float: left;
	margin-right: 5px;
}


/*******************************************MEDIA QUERY*******************************************/

@media (max-width: 1400px) {
	/*Pantallas grandes*/
}

@media (max-width: 1100px) {
	/*Pantallas normales notebooks*/
	.kol-11,
	.kol-10,
	.kol-8,
	.kol-4,
	.kol-3 {
		width: 50%;
	}
	.kol-7 {
		width: 100%;
	}
}

@media (max-width: 900px) {
	/*Tablets*/
	.kol-12,
	.kol-10,
	.kol-8,
	.kol-6,
	.kol-4 {
		width: 50%;
	}
	.kol-11,
	.kol-9,
	.kol-7,
	.kol-5,
	.kol-3,
	.kol-2,
	.kol-75,
	.kol-66,
	.kol-90,
	.kol-40,
	.kol-80,
	.kol-60 {
		width: 100%;
	}
}

@media (max-width: 500px) {
	/*Pantallas smartphones*/
	.kol-1,
	.kol-2,
	.kol-3,
	.kol-4,
	.kol-5,
	.kol-6,
	.kol-7,
	.kol-8,
	.kol-9,
	.kol-10,
	.kol-11,
	.kol-12,
	.kol-75,
	.kol-66,
	.kol-90,
	.kol-40,
	.kol-80,
	.kol-60 {
		width: 100%;
	}
}